.wrapper {
  display: flex;
  width: 1440px;
  padding: 31px 20px 83px;
}

.report {
  width: 1035px;
  background-color: #c4c4c4;
  padding: 13px 8px 297px 17px;
  margin-right: 14px;
  p {
    margin-bottom: 28px;
  }
}

.edit {
  width: 355px;
  background-color: #c4c4c4;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 17px;
  }

  ul {
    padding: 0 10px;
    margin-bottom: 25px;

    .row {
      display: flex;
      align-items: center;

      button {
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
      input {
        width: 150px;
        border: none;
        background-color: inherit;

        &:focus {
          border-radius: 5px;
          background-color: #fff;
          padding: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }

  button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 12px;
  }
}
